In [142]:
#importing the necessary libraries

import pandas as pd
import string
from nltk.stem import PorterStemmer
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import spacy

In [143]:
#reading the excel file

data = pd.read_excel(r'E:\academic lab\IR\package\CollegeData.xlsx')

In [144]:
# nlp = spacy.load('en_core_web_lg')

In [145]:
data.head()

,Name,Location,State,Type,Rating,Total Reviews,Reference Link,Courses Offered
0,A N College Patna - Anugrah Narayan College,Patna,Bihar,Public/Govt,3.6/5,12 Reviews,https://www.careers360.com/colleges/anugrah-na...,"[""MCA"", ""MBA"", ""B.Ed"", ""M.Sc Physics"", ""B.Sc"",..."
1,AAFT Noida - Asian Academy of Film and Television,Noida,Uttar Pradesh,Private,3.5/5,4 Reviews,https://www.careers360.com/colleges/asian-acad...,"[""BA Photography"", ""Diploma in Unreal Engine"",..."
2,ABESIT Ghaziabad - ABES Institute of Technology,Ghaziabad,Uttar Pradesh,Private,3.8/5,62 Reviews,https://www.careers360.com/colleges/abes-insti...,"[""B.Tech Computer Science and Engineering"", ""B..."
3,ABIT Cuttack - Ajay Binay Institute of Technology,Cuttack,Odisha,Private,2.8/5,4 Reviews,https://www.careers360.com/colleges/ajay-binay...,"[""B.Tech Electronics and Telecommunication Eng..."
4,ACE Angul - Adarsha College of Engineering,Angul,Odisha,Private,0,0,https://www.careers360.com/colleges/adarsha-co...,"[""B.Tech Mining Engineering"", ""B.Tech Mechanic..."

In [146]:
#replacing the missing value in the table

data['Type'] = data['Type'].replace("Public/Govt" , "Aided")
data['Name'] = data['Name'].replace("N/A" , "NOTAVAILABLE")
data['Location'] = data['Location'].replace("N/A" , "")
data['State'] = data['State'].replace("N/A" , "")
data['Rating'] = data['Rating'].replace("N/A" , "0")
data['Total Reviews'] = data['Total Reviews'].replace("N/A" , "0")
data['Reference Link'] = data['Reference Link'].replace("N/A" , "none")

In [147]:
data.head()

,Name,Location,State,Type,Rating,Total Reviews,Reference Link,Courses Offered
0,A N College Patna - Anugrah Narayan College,Patna,Bihar,Aided,3.6/5,12 Reviews,https://www.careers360.com/colleges/anugrah-na...,"[""MCA"", ""MBA"", ""B.Ed"", ""M.Sc Physics"", ""B.Sc"",..."
1,AAFT Noida - Asian Academy of Film and Television,Noida,Uttar Pradesh,Private,3.5/5,4 Reviews,https://www.careers360.com/colleges/asian-acad...,"[""BA Photography"", ""Diploma in Unreal Engine"",..."
2,ABESIT Ghaziabad - ABES Institute of Technology,Ghaziabad,Uttar Pradesh,Private,3.8/5,62 Reviews,https://www.careers360.com/colleges/abes-insti...,"[""B.Tech Computer Science and Engineering"", ""B..."
3,ABIT Cuttack - Ajay Binay Institute of Technology,Cuttack,Odisha,Private,2.8/5,4 Reviews,https://www.careers360.com/colleges/ajay-binay...,"[""B.Tech Electronics and Telecommunication Eng..."
4,ACE Angul - Adarsha College of Engineering,Angul,Odisha,Private,0,0,https://www.careers360.com/colleges/adarsha-co...,"[""B.Tech Mining Engineering"", ""B.Tech Mechanic..."

In [148]:
manually_founded = []

for i in range(len(data)):
    if data.iloc[i]['State'].lower().strip() == "tamil nadu" :
        manually_founded.append(i)
    
manually_founded

[7, 24, 54, 58, 70, 75, 78, 82, 85]

In [149]:
#Creating a new data fram

df = pd.DataFrame( columns=['Details'] )
df

Empty DataFrame
Columns: [Details]
Index: []

In [150]:
#Storing the data of the college into the details of the column of the dataframe

df['Details'] = data['Name'] + ' ' + data['Location'] + ' ' + data['State'] + ' ' + data['Type'] + ' ' + data['Total Reviews'].apply(lambda x : str(x))

In [151]:
#performing normailzaiton by removing all the special characters

def normailization(text) :
    
    text = text.translate(str.maketrans("", "", string.punctuation))
    text = text.lower()
    
    return text

In [152]:
#A fucntion to perform preprocessing

def preprocessing(text) :

    #tokenization
    tokenized_word = word_tokenize(text)

    #stop word removal
    founded_stopwords = set(stopwords.words('english'))
    stopword_sentence = [token for token in tokenized_word if token not in founded_stopwords]

    # Stemming
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(word) for word in stopword_sentence]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in stemmed_tokens]

    # Join the tokens back into a single string
    preprocessed_text = " ".join(lemmatized_tokens)

    #returning the preprocessed text
    return preprocessed_text

In [153]:
#looping all the through all the content in the details for performing normailzaiton and preprocessing
 
for i in range(len(df['Details'])) :
    
    #performing normalization
    df['Details'][i] = normailization( df['Details'][i] )

    #performing all the preprocessing
    df['Details'][i] = preprocessing( df['Details'][i] )

In [154]:
#Adding course offered in the college to the new datafram. Perfroming preprocessing to the course offered

df['Details'] += ' ' + data["Courses Offered"].apply(eval).apply(lambda x: preprocessing (", ".join(x).lower().replace("." , "").replace("," , "") ))

In [155]:
data.head()

,Name,Location,State,Type,Rating,Total Reviews,Reference Link,Courses Offered
0,A N College Patna - Anugrah Narayan College,Patna,Bihar,Aided,3.6/5,12 Reviews,https://www.careers360.com/colleges/anugrah-na...,"[""MCA"", ""MBA"", ""B.Ed"", ""M.Sc Physics"", ""B.Sc"",..."
1,AAFT Noida - Asian Academy of Film and Television,Noida,Uttar Pradesh,Private,3.5/5,4 Reviews,https://www.careers360.com/colleges/asian-acad...,"[""BA Photography"", ""Diploma in Unreal Engine"",..."
2,ABESIT Ghaziabad - ABES Institute of Technology,Ghaziabad,Uttar Pradesh,Private,3.8/5,62 Reviews,https://www.careers360.com/colleges/abes-insti...,"[""B.Tech Computer Science and Engineering"", ""B..."
3,ABIT Cuttack - Ajay Binay Institute of Technology,Cuttack,Odisha,Private,2.8/5,4 Reviews,https://www.careers360.com/colleges/ajay-binay...,"[""B.Tech Electronics and Telecommunication Eng..."
4,ACE Angul - Adarsha College of Engineering,Angul,Odisha,Private,0,0,https://www.careers360.com/colleges/adarsha-co...,"[""B.Tech Mining Engineering"", ""B.Tech Mechanic..."

In [156]:
df.head()

                                             Details
0  n colleg patna anugrah narayan colleg patna bi...
1  aaft noida asian academi film televis noida ut...
2  abesit ghaziabad abe institut technolog ghazia...
3  abit cuttack ajay binay institut technolog cut...
4  ace angul adarsha colleg engin angul odisha pr...

In [157]:
#spacy model

# # Query
# query = nlp("Annamalai University")


# #similarity score
# similarities = []


# #getting similarity score for all documents in the corpus
# for i in range(len(df['Details'])):
#     doc_tokens = nlp(df['Details'][i])
#     similarities.append( doc_tokens.similarity(query) )


# #adding similarity scores to dataframe
# df = df.assign( Similarity = similarities )


# #sorting the dataframe by similarity score
# df = df.sort_values(by=['Similarity'], ascending=False).reset_index()


# #document index
# results_index = [ row['index'] for index, row in df.iterrows() ]


# #printing the similar documents
# count   = 0
# result  = []
# for i in results_index:
    
#     count += 1
#     if count > 3:
#         break

#     # print( data.loc[i] , end="\n\n")
#     result.append( data.iloc[i] )

In [158]:
df.head(5)

                                             Details
0  n colleg patna anugrah narayan colleg patna bi...
1  aaft noida asian academi film televis noida ut...
2  abesit ghaziabad abe institut technolog ghazia...
3  abit cuttack ajay binay institut technolog cut...
4  ace angul adarsha colleg engin angul odisha pr...

In [159]:
# result = pd.DataFrame(result)
# result

In [160]:
#vsm model

#importing the libraries
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Sample query
query = "college in tamil nadu"

#converting the query to lower case
query = query.lower()

#performing vsm model
vectorizer = TfidfVectorizer(stop_words='english')
document_vectors = vectorizer.fit_transform(df['Details'])

query_vectors = vectorizer.transform([query])

query_similarity = cosine_similarity(query_vectors, document_vectors )
top_indices = query_similarity.argsort()[0][::-1][:5]


#storing the top relevant documents
results_received = []
for index in top_indices:
    results_received.append(df.iloc[index])

results_received = pd.DataFrame(results_received)

#getting the relevant indexes
index = []

for i in results_received.iterrows():
    index.append( i[0] )

#getting data of those relevant indexes
result = []
for i in index:
    result.append( data.iloc[i] )

pd.DataFrame(result)

,Name,Location,State,Type,Rating,Total Reviews,Reference Link,Courses Offered
7,ACE Salem - Annapoorana Engineering College,Periya Seeragapadi,Tamil Nadu,Private,3.0/5,1 Review,https://www.careers360.com/colleges/annapooran...,"[""BE Automobile Engineering"", ""BE Computer Sci..."
58,ANJA Sivakasi - Ayya Nadar Janaki Ammal Polyte...,Sivakasi,Tamil Nadu,Private,0,0,https://www.careers360.com/colleges/ayya-nadar...,"[""Diploma in Architecture Assistantship"", ""Dip..."
70,ASB Coimbatore - Amrita School of Business,Coimbatore,Tamil Nadu,Private,4.0/5,10 Reviews,https://www.careers360.com/colleges/amrita-sch...,"[""Ph.D Finance"", ""Ph.D Economics"", ""MBA"", ""Ph...."
24,AIAT Villupuram - Auroville Institute of Appli...,Villupuram,Tamil Nadu,Private,0,0,https://www.careers360.com/colleges/auroville-...,"[""B.Voc Production Technology"", ""B.Voc Green E..."
82,Alagappa University - Alagappa University,Karaikudi,Tamil Nadu,Aided,0,0,https://www.careers360.com/university/alagappa...,"[""B.Com Computer Applications"", ""B.Com"", ""B.Co..."

Evaluation Metric

In [ ]:
top_indices = []

indexOfTheTerm = 0
for i in query_similarity.flatten():
    if i > 0 :
        top_indices.append(indexOfTheTerm)
    indexOfTheTerm += 1

In [161]:
   

def precisionFinding():
    intersection = set(top_indices).intersection(set(manually_founded))
    return  float(len(intersection) /  len(set(top_indices)) )

print(precisionFinding())

0.9

In [162]:
def recallFinding():
    intersection = set(top_indices).intersection(set(manually_founded))
    return float( len(intersection) /  len(set(manually_founded)) )

print(recallFinding())

1.0

In [163]:
def fScore():
    intersection = set(top_indices).intersection(set(manually_founded))
    precision =   float( len(intersection) /  len(set(top_indices)) )
    
    intersection = set(top_indices).intersection(set(manually_founded))
    recall = float( len(intersection) /  len(set(manually_founded)) )

    num = 2 * precision * recall
    denom = precision + recall

    return float(num / denom)

fScore()

0.9473684210526316